source ~/.vimrc

" register leader
nnoremap <SPACE> <Nop>
let mapleader = " "

" navigation
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>

" run stuff
:map <leader>rg <Action>(ChooseRunConfiguration)
:map <leader>dg <Action>(ChooseDebugConfiguration)
:map <leader>1 <Action>(Run)
:map <leader>2 <Action>(Debug)
:map <leader>0 <Action>(Stop)

" code refactoring
:map <leader>r <Action>(RenameElement)
:map <leader>R <Action>(Refactorings.QuickListPopupAction)
:map <leader>fc <Action>(ReformatCode)
:map <leader>sw <Action>(SurroundWith)
:map <leader>oi <Action>(OptimizeImports)

" breakpoints
:map <leader>bp <Action>(ToggleLineBreakpoint)
:map <leader>bv <Action>(ViewBreakpoints)
:map <leader>br <Action>(Debugger.RemoveAllBreakpoints)

:map g, <Action>(JumpToLastChange)
:map g. <Action>(JumpToNextChange)
:nmap g) <Action>(GotoNextElementUnderCaretUsage)
:nmap g( <Action>(GotoPrevElementUnderCaretUsage)
:map <leader>pv <Action>(SelectInProjectView)
:map <leader>hu <Action>(HighlightUsagesInFile)

" display
:nmap <leader>= <Action>(QuickJavaDoc)

" tab manipulation
:nmap <leader>mo <Action>(MoveEditorToOppositeTabGroup)
" given single pane, moves current tab into new vertical pane
:nmap <leader>mi <c-v><leader>v<leader>mo

" splits
:nmap <leader>v <Action>(PrevSplitter)
:nmap <leader>\ <Action>(SplitVertically)
:nmap <leader>- <Action>(SplitHorizontally)

" source
:map <leader>9 :source ~/.ideavimrc<CR>

